<app-nx-welcome></app-nx-welcome>

<div id="Inputs">
    <a>
      Input your Current Postalcode:
      <input type="number" name="Location" placeholder="PLZ">
    </a><br/>
    <br/>
    <label>Select the Charger type of your Vehicle: </label>
    <select [(ngModel)]="" name="Chargertype" >
      <option *ngFor="let o of options">{{ o.name }}</option>
      <option value="tesla (High Power)">Tesla Connector (high power wall)</option>
      <option value="IEC 62196-2 type 2 combo (Mennekes)">IEC 62196-2 type 2 combo (Mennekes)</option>
      <option value="Domestic plug/socket type H (SI 32)">Domestic plug/socket type H (SI 32)</option>
    </select>
    <br/>
    <br/>
    <button>Submit</button>
</div>


<router-outlet></router-outlet>
